<section id="portfolio" data-scroll-index="2" class="section-padding" style="background-color: black;" >
  <div class="container">
    <div class="row mb-30">
      <div class="section-head col-md-12 text-center">
        <div class="section-subtitle">Portafolio</div>
        <div class="section-title white">Últimos <span>Trabajos</span></div>
      </div>
    </div>
    <div class="row">
      <!-- 2 columns -->
      <div class="col-md-6 gallery-item">
        <a href="assets/img/gallery/4.jpg" title="" class="img-zoom">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="assets/img/gallery/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 gallery-item">
        <a href="assets/img/gallery/10.jpg" title="" class="img-zoom">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="assets/img/gallery/10.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
          </div>
        </a>
      </div>
      <!-- 3 columns -->
      <div class="col-md-4 gallery-item">
        <a href="assets/img/gallery/1.jpg" title="" class="img-zoom">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="assets/img/gallery/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-item">
        <a href="assets/img/gallery/2.jpg" title="" class="img-zoom">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="assets/img/gallery/2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-item">
        <a href="assets/img/gallery/5.jpg" title="" class="img-zoom">
          <div class="gallery-box">
            <div class="gallery-img"> <img src="assets/img/gallery/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
