<section id="about" data-scroll-index="1" class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft" style="padding: 0 41px 0 20px !important">
        <div class="section-subtitle">Desde 2020</div>
        <div class="section-title white">Everest <span>Tattoo Studio</span></div>
        <p>
          <strong>Everest Tattoo Estudio</strong> es un estudio de tatuajes profesional en <strong>Tingo María</strong>,
          especializado en diseños únicos y tatuajes de alta calidad. Desde 2020 trabajamos con un enfoque claro:
          ofrecer resultados impecables que reflejen personalidad, estilo y precisión artística. <br>
          La experiencia, la calidad de nuestros trabajos y las excelentes recomendaciones de nuestros clientes
          nos han consolidado como uno de los <strong>mejores estudios de tatuajes en Tingo María</strong>,
          creando tatuajes personalizados bajo los más altos estándares profesionales.
        </p>
        <ul class="about-list list-unstyled">
          <li>
            <div class="about-list-icon"> <span class="ti-check"></span> </div>
            <div class="about-list-text">
              <p>Diseños personalizados y adaptados a tu estilo</p>
            </div>
          </li>
          <li>
            <div class="about-list-icon"> <span class="ti-check"></span> </div>
            <div class="about-list-text">
              <p>Experiencia, precisión y alto nivel artístico</p>
            </div>
          </li>
          <li>
            <div class="about-list-icon"> <span class="ti-check"></span> </div>
            <div class="about-list-text">
              <p>Protocolos estrictos de higiene y seguridad</p>
            </div>
          </li>
          <li>
            <div class="about-list-icon"> <span class="ti-check"></span> </div>
            <div class="about-list-text">
              <p>Acompañamiento y cuidados para una curación perfecta</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-5 mt-30 animate-box" data-animate-effect="fadeInRight"> <img src="assets/img/about.jpg" alt="">
      </div>
    </div>
  </div>
</section>