<!-- ubica en un mejor lugar el boton de cerrar sesion -->
<div class="text-end mt-4 me-4">
    <button class="btn btn-dark" (click)="logout()">Cerrar sesión</button>
</div>
<div class="container mt-4">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item" (click)="changeTab(1)">
            <a class="nav-link bold" [class.active]="initTab() === 1" aria-current="page">Título Portada</a>
        </li>
        <li class="nav-item" (click)="changeTab(2)">
            <a class="nav-link bold" [class.active]="initTab() === 2">Portafolio</a>
        </li>
        <li class="nav-item" (click)="changeTab(3)">
            <!-- link facebook e instagram, direccion y numero de telefono, correo electronico -->
            <a class="nav-link bold" [class.active]="initTab() === 3">Contacto y Redes</a>
        </li>
        <li class="nav-item" (click)="changeTab(4)">
            <!-- link facebook e instagram, direccion y numero de telefono, correo electronico -->
            <a class="nav-link bold" [class.active]="initTab() === 4">Nombre de Marca</a>
        </li>
    </ul>
    <div class="mt-4">
        @if (initTab()==1) {
        <app-home-admin></app-home-admin>
        }
        @if (initTab()==2) {
        <app-portfolio-admin></app-portfolio-admin>
        }
        @if (initTab()==3) {
        <app-contact-admin></app-contact-admin>
        }
        @if (initTab()==4) {
        <app-header-admin></app-header-admin>
        }
    </div>
</div>