<nav class="navbar navbar-expand-md">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <!-- <a class="logo" href="index.html"> <img src="assets/img/logo-light.png" class="logo-img" alt=""> </a> -->
            <a class="logo" href="index.html">
                <h2 class="text-center">EVEREST<span>Tattoo Studio</span></h2>
            </a>
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#" data-scroll-nav="0">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="1">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="2">Portafolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="3">Contactame</a></li>
                <!-- icono redes sociales facebook, instagram y tiktok -->

                <!-- Iconos redes sociales -->
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link px-2" href="https://www.facebook.com/profile.php?id=100063881507244" target="_blank" rel="noopener"
                        title="Facebook">
                        <i class="ti-facebook" style="font-size: 18px;"></i>
                    </a>
                    <a class="nav-link px-2" href="https://instagram.com/" target="_blank" rel="noopener"
                        title="Instagram">
                        <i class="ti-instagram" style="font-size: 18px;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>