/* Puedes agregar estilos personalizados para el header aquí si lo deseas */
.navbar a {
  text-decoration: none !important;
}

/* Estilo personalizado para el h2 del logo */
.logo h2 {
  font-family: 'Avebury', serif;
}
nav{
  background-color: black;
}