<section id="home" data-scroll-index="0" class="banner-header full-height valign bg-img bg-fixed" data-overlay-dark="4"
  data-background="assets/img/slider/13.jpg">
  <div class="container">
    <div class="row content-justify-center">
      <div class="col-md-6 text-center">
        <div class="v-middle">
          <h4><span>Bienvenidos a Everest Tattoo Studio</span></h4>
          <h2>Diseños únicos<br><span>Resultados impecables</span></h2>
          <a href="#" class="btn-curve btn-1 mt-30"><span>EMPEZAR AHORA</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
