@if (loadingData()) {
    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-dark" role="status"></div>
    </div>
}@else {
    <div class="container">
        <div class="row mb-4 mt-4">
            <div class="section-head col-md-12 text-center">
                <div class="section-title white">Portafolio</div>
            </div>
        </div>
        <div class="row">
            @for (item of portfolioImages(); track $index) {
            <div class="col-md-4 gallery-item">
                <!-- abrir imagen en una nueva pestaña -->
                <a [href]="item.url" target="_blank" title="" class="img-zoom" title="Click para ampliar">
                    <div class="gallery-box">
                        <div class="gallery-img portfolio-img-standard">
                            <img [src]="item.url" [alt]="item.name" class="portfolio-img-fit" />
                        </div>
                    </div>
                </a>
                <div class="d-flex justify-content-between">
                    <span>{{item.name}}</span>
                    <span>{{convertDate(item.date)}}</span>
                </div>
            </div>
            }
            @if (loadingMoreData()) {
                <div class="d-flex justify-content-center align-items-center" style="height: 100px; width: 100%;">
                    <div class="spinner-border text-dark" role="status"></div>
                </div>
            }
            @if (pageCurrent()<totalCargas() && !loadingMoreData()) {
                <div class="text-center mt-4">
                    <button class="btn btn-dark" (click)="loadMoreImages()">Cargar más fotos</button>
                </div>
                
            }
            <div class="text-center mb-4">
                <a class="btn-curve btn-1 mt-30" (click)="backToWeb()"><span>VOLVER</span></a>
            </div>
        </div>
    </div>
}